{% extends 'home/public/header.html' %}
{% load static %}
{% load humanize %}

{% block body_data %}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>about us</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>></li>
                        <li>about us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

 <!--about section area -->
<div class="about_section">
    <div class="container">   
        <div class="row align-items-center">
            <div class="col-12">
                <div class="about_thumb">
                    <img src="assets/img/about/about1.jpg" alt="">
                </div>

                <div class="about_content">
                    <h1>Welcome to Monsta!</h1>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. </p>
                    <span>“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.”</span>
                </div>
            </div>    
        </div>
    </div>    
</div>
<!--about section end-->
        
<!--chose us area start-->
<div class="choseus_area">
    <div class="container">
        <div class="row">
           <div class="col-12">
               <div class="chose_title">
                   <h1>Why chose us?</h1>
               </div>
           </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="assets/img/about/About_icon1.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>Creative Design</h3>
                        <p>Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet enim</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="assets/img/about/About_icon2.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>100% Money Back Guarantee</h3>
                        <p>Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet enim</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="assets/img/about/About_icon3.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>Online Support 24/7</h3>
                        <p>Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet enim</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chose us area end-->


{% endblock body_data %}
