{% extends 'home/public/header.html' %}
{% load static %}
{% block body_data %}
<style>
    #accountNumber {
        display: none;
    }

    #phonenumber {
        display: none;
    }
</style>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3 class="greet" key="myaccount">My Account</h3>
                    <ul>
                        <li><a href="/" class="greet" key="Home">home</a></li>
                        <li>></li>
                        <li class="greet" key="myaccount">My account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="customer_login">
    <div class="container direct">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2 class="greet" key="login">login</h2>
                    <form action="/CustomerLogin" method="POST">{% csrf_token %}
                        <p>
                            <label class="greet" key="uname">Username or email</label> <span>*</span>
                            <input type="text" name="Email">
                        </p>
                        <p>
                            <label class="greet" key="password">Passwords </label><span>*</span>
                            <input type="password" name="Password">
                        </p>
                        <div class="login_submit">
                            <a href="#" class="greet" key="lost">Lost your password?</a>
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                <span class="greet" key="remember">Remember me </span>
                            </label>
                            <button type="submit" class="greet" key="login">login</button>

                        </div>

                    </form>
                </div>
            </div>
            <!--login area start-->

            <!--register area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>Register</h2>
                    <form action="/RegisterAccount" method="POST" enctype="Multipart/form-data">
                        {% csrf_token %}
                        <p>
                            <label>FirstName <span>*</span></label>
                            <input type="text" name="firstName" required>
                        </p>


                        <p>
                            <label>LastName <span>*</span></label>
                            <input type="text" name="lastName" required>
                        </p>
                        <p>
                            <label>Email address <span>*</span></label>
                            <input type="Email" name="Email" required>
                        </p>
                        <p>
                            <label>Phone <span>*</span></label>
                            <input type="phone" name="Phone" required>
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input type="password" name="Password" required>
                        </p>
                        <p>
                            <label>Address <span>*</span></label>
                            <input type="text" name="Address" required>
                        </p>
                        <p>
                            <label>Profile Photo <span>*</span></label>
                            <input type="file" name="image" required>
                        </p>
                        <p>
                            <label>Payment Method <span>*</span></label>
                            <select name="PaymentMethod" id="paymentMethod" class="form-control"
                                onchange="myFunction5()">
                                <option value="No">Select and option</option>
                                <option value="Credit Card">Credit Card</option>
                                <option value="Phone">Phone</option>
                                <option value="Cash on Delivery">Cash on Delivery</option>
                            </select>
                        </p>
                        <div id="accountNumber">
                            <p>
                                <label>Account Number <span>*</span></label>
                                <input type="text" name="AccountNo">
                            </p>
                            <p>
                                <label>CVC <span>*</span></label>
                                <input type="number" name="CVC">
                            </p>
                            <p>
                                <label>Expire Date <span>*</span></label>
                                <input type="Date" name="ExpireDate">
                            </p>
                        </div>

                        <div id="phonenumber">
                            <p>
                                <label>Phone Number <span>*</span></label>
                                <input type="phone" name="PaymentPhone">
                            </p>

                        </div>


                        <button type="submit">Register</button>

                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>


<script>
    function myFunction5() {
        var x = document.getElementById("paymentMethod");
        var i = x.selectedIndex;
        if (i == 1) {
            document.getElementById("phonenumber").style.display = "none";
            document.getElementById("accountNumber").style.display = "inline";
        }
        if (i == 2) {
            document.getElementById("phonenumber").style.display = "inline";
            document.getElementById("accountNumber").style.display = "none";
        }
        if (i == 3) {
            document.getElementById("phonenumber").style.display = "none";
            document.getElementById("accountNumber").style.display = "none";
        }
    }
</script>


{% endblock body_data %}