{% extends 'home/public/header.html' %}
{% load static %}
{% block body_data %}

<br><br><br>

<div class="product_details direct">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">

                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="/media/{{ product_info.0.Image }}"
                                data-zoom-image="/media/{{ product_info.0.Image }}" alt="big-1">
                        </a>
                    </div>

                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">

                            {% for galleryInfo in galleryInfo %}
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                    data-image="/media/{{ galleryInfo.Image }}"
                                    data-zoom-image="/media/{{ galleryInfo.Image }}">
                                    <img src="/media/{{ galleryInfo.Image }}" alt="zo-th-1" />
                                </a>

                            </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="/AddOrders/{{product_info.0.id}}/" method="POST" >{% csrf_token %}

                        <h1>{{ product_info.0.Product_Name }} </h1>
                        <div class=" product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"> (customer review ) </a></li>
                            </ul>
                        </div>
                        <div class="product_price">
                            <span class="current_price">${{product_info.0.Price}}</span>
                        </div>
                        <div class="product_desc">
                            <p>
                                {{product_info.0.Description}}
                            </p>
                        </div>
                   
                        <input   type="text" class="form-control" placeholder="Delivery Note" required name="DeliveryNote" >
                        <br>
                        <div class="product_variant quantity">
                            {% if product_info.0.Stock == 'Yes' %}
                            <button class="button greet" type="submit" key="addCart" >add to cart</button>
                            {% else %}
                            <button class="button greet" type="reset" key="outOfStock">Out of Stock</button>

                            {% endif %} 
                          
                       </div>
                
                       

                        <div class="product_meta">
                            <span class="greet" key="category">Category </span>: <a href="#">{{categInfo}}</a>
                        </div>

                        <div class="product_meta">
                           <span> {% if product_info.0.Stock == 'Yes' %} InStock {% else %} unAvailable {% endif %} </span>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->

<!--product info start-->
<div class="product_d_info direct">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
                                    aria-selected="false" class="greet" key="desc">Description</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p> {{product_info.0.Description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body_data %}