{% extends 'Dashboard/public/header.html' %}
{% load static %}
{% block body_data %}
{% load humanize %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="/Dashboard">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Manage Contacts</li>
                    </ul>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <strong>Dashboard</strong> -  Contacts
                                    </h2>
                                </div>
                                <div class="body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Subject</th>
                                                <th>Message</th>
                                                <th>Datetime</th>
                                                {% if request.session.Permission == 7 %}
                                                <th>Action</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for info in info %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ info.Name }} </td>
                                                <td>{{ info.Email }}</td>
                                                <td>{{ info.Subject }}</td>
                                                <td>{{ info.Message }}</td>
                                                <td>{{ info.created|naturaltime }}</td>
                                                {% if request.session.Permission == 7 %}
                                               <td><a onclick="deleteMsg('Are You Sure?')" href="/DeleteFunction/Contact/{{ info.id }}/" class="fa fa-trash"></a> </td>
                                               {% endif %}
                                                

                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock body_data %}