{% extends 'Dashboard/public/seller_layout.html' %}
{% load static %}
{% block body_data %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Statistics</li>
                    </ul>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Products</div>
                                <h3 class="m-b-10">${{productt}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <div class="chart chart-bar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Customers</div>
                                <h3 class="m-b-10">{{Customer}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <span class="chart chart-line"></span>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Orders</div>
                                <h3 class="m-b-10">{{Order}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <div class="chart chart-pie"></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Contacts</div>
                                <h3 class="m-b-10">{{Contact}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <span class="chart chart-line"></span>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Blogs</div>
                                <h3 class="m-b-10">{{blog}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <span class="chart chart-line"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Admin</div>
                                <h3 class="m-b-10">{{AdminAccount}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <span class="chart chart-line"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-sm-6">
                            <div class="counter-box text-center white">
                                <div class="text font-17 m-b-5">Total Galleries</div>
                                <h3 class="m-b-10">{{Gallery}}
                                    <i class="material-icons col-green">trending_up</i>
                                </h3>
                                <div class="icon">
                                    <div class="chart chart-pie"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}