{% load static %}
{%  include 'Dashboard/public/messages.html' %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Monsta - Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static  '/assets/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static  '/assets/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static  '/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static  '/localization/direction.css' %}">
    <script src="{% static  '/assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .banner{
            background: url('../../../static/assets/img/slider/slider1.jpg') !important;
            background-size: cover;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>

    <div class="off_canvars_overlay">
    </div>
    
    <!--header area start-->
    <header class="header_area banner">
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-7 col-md-12">
                        <div class="welcome_text">
                            <p>{{ request.session.CustomerAddress }}</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="top_right text-right">
                            <ul  >
                                <li class="language"><a href="#" class="greet" key="Lang"> Engish <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_language">
                                    <span id="lang-list">
                                        <li><button id="en" style="background-color:white;border:none;" class="lang-choice greet" key="English" onclick="changeLanguage(this.id)">English</button> </li> <!-- 1 -->
                                        <li><button id="fr" style="background-color:white;border:none;" class="lang-choice greet" key="Persion" onclick="changeLanguage(this.id)">Farsi</button> </li> <!-- 2 -->
                                        <li><button id="pa" style="background-color:white;border:none;" class="lang-choice greet" key="Pashto" onclick="changeLanguage(this.id)">Pashto</button> </li> <!-- 2 -->
                                    </span>
                                </ul>
                                  
                                </li>

                                <li class="top_links"><a href="#" class="greet" key="myaccount">{% if request.session.CustomerName %}  
                                    {{ request.session.CustomerName }} {% else %} My Account {% endif %}
                                 <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="/Account" class="greet" key="login">Login </a></li>
                                        <li><a href="/CustomerAccount" class="greet" key="myaccount">My Account </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->

        <!--header middel start-->
        <div class="header_middel" >
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5">
                        <div class="home_contact">
                            <div class="contact_box">
                                <label class="greet" key="location">Location</label>
                                <p>{% if request.session.CustomerAddress %} {{ request.session.CustomerAddress }} 
                                {% else  %} Kabul Afghanistan {% endif %}</p>
                            </div>
                            <div class="contact_box">
                                <label class="greet" key="call">Call free</label>
                                <p><a href="tel:0123456789">+93 070 827 5116</a></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="logo">
                            <a href="index.html"><img src="{% static  '/assets/img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-7 col-6">
                        <div class="middel_right">
                          
                            <div class="cart_link">
                                <a href="#"><i class="ion-android-cart"></i></a>
                                <span class="cart_quantity">{{basketCount}}</span>
                                <!--mini cart-->
                                
                                <div class="mini_cart direct">
                                    <div class="cart_close">
                                        <div class="cart_text">
                                            <h3 class="greet" key="cart">cart</h3>
                                        </div>
                                        <div class="mini_cart_close">
                                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    {% for productinfo in productinfo %}
                                        {% for orderinfo in orderinfo %}
                                            {% if orderinfo.Products_id_id == productinfo.id %}
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="/media/{{ productinfo.Image }}"
                                                    alt=""></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">{{productinfo.Product_Name}}</a>

                                            <span class="price_cart">${{productinfo.Price}}</span>
                                            <span class="price_cart">{{orderinfo.Message}}</span>

                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                   
                                    <div class="cart_total">
                                        <span class="greet" key="subtotal">Subtotal:</span>
                                        <span>${{OrderHistory.0.price|floatformat:0 }}</span>
                                    </div>
           

                                    <div class="cart_total">
                                        <span class="greet" key="paymethod">Payment Method:</span>
                                        <span>{{customerInfo.0.Payment_Type}}</span>
                                    </div>
                                <form action="/AddOrder" method="POST" >{% csrf_token %}

                                    <label for="" class="greet" key="shipdetail">Shipment Details</label>
                                    <select name="ShippmentID" id="" class="form-control" >
                                        
                                        {% for ShippingInfo in ShippingInfo %}
                                        <option value="{{ShippingInfo.id}}">{{ShippingInfo.Shipping_Type}} - {{ShippingInfo.Shipping_Zone}}: {{ ShippingInfo.Price }}</option>
                                        {% endfor %}
                                    </select>
                                    <hr>
                                  
                                    <div class="cart_button checkout">
                                        <button type="submit" class="btn btn-primary btn-block greet" 
                                        key="pay" style="width: 100%;background-color: #c09578;border: none;" >
                                        Pay
                                        </button>
                                    </div>
                                    

                                </form>

                                </div>
                               
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header" style="background: linear-gradient(to right, #0f0c29, #302b63, #24243e); color:white !important;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="main_menu_inner">
                            <div class="logo_sticky">
                                <a href="index.html"><img src="{% static  '/assets/img/logo/logo-3.png'%}" alt=""></a>
                            </div>
                            <div class="main_menu">
                                <nav class="direct">
                                    <ul id="greetings-list"  >
                                        <li ><a class="greet" key="Home" style="color:white" href="/">Home</a></li>
                                        <li ><a class="greet" key="Shop" style="color:white" href="/Shop">Shop</a></li>
                                        <li ><a class="greet" key="Blog" style="color:white" href="/ViewBlog">Blog</a></li>
                                        <li ><a class="greet" key="Contact" style="color:white" href="/Customer_Contact">Contact</a></li> 
                                        <li ><a class="greet" key="About" style="color:white" href="/about">About Us</a></li> 
                                       
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
    <!--header area end-->



    {% block body_data %}{% endblock body_data %}



    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="widgets_container contact_us">
                            <h3 class="greet" key="About">About Monsta</h3>
                            <div class="footer_contact direct" style="text-align: left;">
                                <p> <span class="greet" key="address">Address</span>: Kabul Afghanistan.</p>
                                <p> <span class="greet" key="phone">Phone</span>: 0708275116 </p>
                                <p> <span class="greet" key="email">Email</span>: Info@monsta.com </p>
                                <ul>
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="ion-social-rss"></i></a></li>
                                    <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                                    <li><a href=""><i class="ion-social-youtube"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4 col-6">
                        <div class="widgets_container widget_menu">
                            <h3 class="greet" key="info">Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a class="greet" key="About" href="/About">About Us</a></li>
                                    <li><a class="greet" key="Blog" href="/ViewBlog">blog</a></li>
                                    <li><a class="greet" key="Contact" href="/Customer_Contact">Contact</a></li>
                                    <li><a class="greet" key="Shop" href="/Shop">Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-5 col-6">
                        <div class="widgets_container widget_menu">
                            <h3 class="greet" key="myaccount">My Account</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a class="greet" key="login" href="/Account">Login</a></li>
                                    <li><a class="greet" key="myaccount" href="/CustomerAccount">My Account</a></li>
                                    <li><a class="greet" key="Home" href="/">Home</a></li>
                                    <li><a class="greet" key="About" href="/About">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_middel">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_middel_menu">
                            <ul>
                                <li><a class="greet" key="Home" href="/">Home</a></li>
                                <li><a class="greet" key="Shop" href="/Shop">Shop</a></li>
                                <li><a class="greet" key="Blog" href="/ViewBlog">Blogs</a></li>
                                <li><a class="greet" key="Contact" href="/Customer_Contact">Contact Us</a></li>
                                <li><a class="greet" key="About" href="/About">About US</a></li>
                                <li><a class="greet" key="myaccount" href="/Account">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright_area">
                            <p>&copy; 2022 <a href="" class="text-uppercase">GemStone</a>. Made with <i
                                    class="fa fa-heart"></i> by <a target="_blank"
                                    href="">HasThemes</a></p>
                            <img src="assets/img/icon/papyel2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    <script src="{% static  '/assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static  '/assets/js/popper.js' %}"></script>
    <script src="{% static  '/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static  '/assets/js/plugins.js' %}"></script>
    <script src="{% static  '/assets/js/owl.carousel.main.js' %}"></script>
    <script src="{% static  '/assets/js/jquery.nice.select.js' %}"></script>
    <script src="{% static  '/assets/js/scrollup.js' %}"></script>
    <script src="{% static  '/assets/js/ajax.chimp.js' %}"></script>
    <script src="{% static  '/assets/js/jquery.ui.js' %}"></script>
    <script src="{% static  '/assets/js/jquery.elevatezoom.js' %}"></script>
    <script src="{% static  '/assets/js/imagesloaded.js' %}"></script>
    <script src="{% static  '/assets/js/isotope.main.js' %}"></script>
    <script src="{% static  '/assets/js/jqquery.ripples.js' %}"></script>
    <script src="{% static  '/assets/js/jquery.cookie.js' %}"></script>
    <script src="{% static  '/assets/js/bpopup.js' %}"></script>
    <script src="{% static  '/assets/js/main.js' %}"></script>
    <script src="{% static  '/localization/localization.js'%}"></script>
</body>
</html>
